<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zty.ddshop.dao.TbItemParamCustomMapper" >
    <sql id="Example_Where_Clause">
        i.id,i.item_cat_id as itemCatId,i.param_data as paramData,i.created,i.updated,j.name as catName
    </sql>
    <select id="countItemParams" resultType="int">
      select count(1) from tb_item_param;
    </select>
    <select id="listItemParamByPage" resultType="com.zty.ddshop.pojo.vo.TbItemParamCustom">
      select
      <include refid="Example_Where_Clause"/>
      from tb_item_param i
      left join tb_item_cat j
      on i.item_cat_id = j.id
      limit #{page.offset},#{page.rows}
    </select>
</mapper>